rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ローカル開発用：すべてのデータを誰でも読み書き可能にする最強ルール
    match /{document=**} {
      allow read, write: if true;
    }
  }
}