rules_version = '2';

// Rules for allowing access to Firebase Storage
service firebase.storage {
  // Match all files within the project's storage bucket
  match /b/{bucket}/o {

    // Helper function to check if the user has admin custom claims
    function isAdmin() {
      // Check if the user is authenticated and if the admin claim is true in their ID token
      return request.auth != null && request.auth.token.admin == true;
    }

    // Rule for all paths in storage (e.g., diagnoses/, galleries/)
    match /{allPaths=**} {
      // Allow read and write (upload, update, delete) access only if the user is an admin
      allow read, write: if isAdmin();
    }
  }
}